.nav-link {
    color: black;
}

/* .navbar-light .navbar-toggler-icon{
  border-color: red;

} */

.heroheading {
    color: #0638b5;
    font-size: 40px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 170px;
    padding-right: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .heroheading {
        color: #0638b5;
        font-size: 28px;
        font-weight: 700;
        padding-left: 10px;
        padding-top: 30px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

.heroimg {
    padding-top: 33px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 600px) {
    .heroimg {
        height: 300px;
        width: 300px;
    }
}

.heropara {
    color: #000000;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    .heropara {
        color: #000000;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }
}

.signuptext {
    text-align: center;
    margin-top: 70px;
    padding-left: 10px;
    padding-top: 10px;
}

.btn:hover {
    color: #0638b5;
}

/* footer css */

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    background: #0b1c3f;
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg {
    background: #3b5998;
}
.twitter-bg {
    background: #55acee;
}
.google-bg {
    background: #dd4b39;
}
.footer-widget-heading h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 26px;
    /* position: relative; */
}
.footer-widget-heading h3::before {
    content: "";
    /* position: absolute; */
    /* left: 0; */
    bottom: -15px;
    height: 2px;
    width: 50px;
    /* background: #ff5e14; */
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}
.footer-widget ul li a:hover {
    color: white;
    text-decoration: none;
}
.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}
.copyright-area {
    background: #202020;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}
.copyright-text p a {
    color: #ff5e14;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a {
    color: #ff5e14;
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.footerlist {
    color: white;
    margin-top: 20px;
}
.footerlist1 {
    color: white;
    margin-top: 10px;
}

.button-three {
    position: relative;
    background-color: #f4f9ff;
    border-style: solid;
    border-color: #a7c1e5;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    width: auto;
    text-align: center;
    border-radius: 45px;
    font-size: 14px;
    font-weight: 500;

    overflow: hidden;
    box-shadow: none !important;
}

.button-three:hover {
    background: #004aad;
    color: white;
}

/* .button-three:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
} */

/* .button-three:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
} */

.shopch {
    font-weight: 500;
    font-size: 16px;
}
.shopcp {
    font-weight: 400;
    font-size: 14px;
}

.shopcl {
    text-align: center;
    color: #004aad;
    font-weight: 500;
}

.button-on {
    position: relative;
    background-color: #a0ffe3;
    border-style: solid;
    border-color: #a0ffe3;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    width: 120px;
    text-align: center;
    border-radius: 45px;
    font-size: 14px;
    font-weight: 500;

    overflow: hidden;
    box-shadow: none !important;
}

.button-off {
    position: relative;
    background-color: #c0c0c0;
    border-style: solid;
    border-color: #c0c0c0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    width: 120px;
    text-align: center;
    border-radius: 45px;
    font-size: 14px;
    font-weight: 500;

    overflow: hidden;
    box-shadow: none !important;
}
